@charset "UTF-8";
* {
	margin:0;

}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color:black;
}

.imgslide {
	max-width: 100%;
	width:100%;
	height:400px;
	overflow: hidden;
}

.imglist {
	display: block;
	position: relative;
	height:400px;
}

.slideimg {
	width: 100%;
	height:400px;
	position: relative;

}
.item {
	height:400px;
	
}


.item>span{
	
	width: 70%;
	height: 80px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgba(255,255,255,0.4);
	color:black;
	text-align:center;
	vertical-align: middle;
}
.itemtext {
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
}


.content-btm {
	width: 100%;
	background: lightblue;
	padding:15px;
	display: block;
	height: 450px;
	
}

.ncrowl-title {
	font-weight: 700;
	font-size:15pt;
}

.news-crowl>li:hover {
	font-weight: 700;
}


.ntitle {
	background: lightblue;
	width:100%;
	height: 300px;
	padding-top: 130px;
	text-align:center;
	color:black;
	font-size:30px;
}

.news-all {
	background: lightblue;
	
}
.jul {
	padding: 3em 5em 3em 5em;
}

.jul-title {
	font-size: 30px;
	font-weight: 700;
}

.jul-text {
	padding:1em;
}

.jule {
	background: lightpink;
}

.ncrowl {
	width:45%;
	margin:0;
	display: inline-block;
}
.left1 {
	float:left;
}
.right1 {
	float: right;
}

.air-more {
	padding: 3em;
	border: 1px solid black;
	margin: 2em;
	text-align:center;
}
.air-more-title{
	font-size: 15px;
	font-weight: 700;
}
.cpyr {
	width:60%;
	text-align: center;
	padding-top:140px;
	display: inline-block;
}
.sns {
	display:inline-block;
	width:35%;
	text-align: center;
	
}

.snsImg {
	width: 80px;
	height: 80px;
}


footer {
	display:block;
	background: gray;
	text-align: center;
	height: 300px;
	
}